{include file="page_header"}
		<div class="con mb-7">
			<div class="category">
				<div class="category-header-box active">
				<section class="search">
					<div class="text-all dis-box j-text-all text-all-back">
						<a href="{url('crowd_funding/index/search')}" class="box-flex input-text n-input-text i-search-input">
	                        <div class="j-input-text nav-soso"><i class="iconfont icon-sousuo"></i>商品/店铺搜索</div>
                    	</a>
					</div>
				</section>
				<section>
					<ul class="raise-cate-nav dis-box">
						<li class="box-flex" class="current">综合排序<i class="iconfont icon-xiajiantou"></i></li>
						<li class="box-flex">全部商品<i class="iconfont icon-xiajiantou"></i></li>
						<a class="a-sequence j-a-sequence"><i class="iconfont icon-pailie" data="1"></i></a>
					</ul>
					<div class="raise-content">
						<ul class="raise-list-box">

							<div class="catalog-nav-box select-one j-all-raise">
								<div class="j-get-one padding-all of-hidden">

									<li class="ect-select w-3 rsise-nav">
										<a href="{url('index',array('type'=>''))}">
										<label class="ts-1 {if $type == ''}active{/if}">综合排序</label>
										</a>
									</li>
									<li class="ect-select w-3 rsise-nav">
										<a href="{url('index',array('type'=>'new','c_id'=> $id))}">
										<label class="ts-1 {if $type == 'new'}active{/if}">最新上线</label>
										</a>
									</li>
									<li class="ect-select w-3 rsise-nav">
										<a href="{url('index',array('type'=>'amount','c_id'=> $id))}">
										<label class="ts-1 {if $type == 'amount'}active{/if}">金额最多</label>
										</a>
									</li>
									<li class="ect-select w-3  rsise-nav">
										<a href="{url('index',array('type'=>'join_num','c_id'=> $id))}">
										<label class="ts-1 {if $type == 'join_num'}active{/if}">支持最多</label>
										</a>
									</li>
								</div>
								<div class="ect-button-more raise-button dis-box">
									<i class="iconfont icon-Collapse j-text-all"></i>
								</div>
							</div>

						</ul>
						<ul class="raise-list-box">
							<div class="catalog-nav-box select-one j-cate-raise">
								<div class="j-get-one padding-all of-hidden">
									<li class="ect-select w-3 rsise-nav">
										<a href="{url('index',array('c_id'=>0))}">
										<label class="ts-1 {if $id == 0}active{/if}">全部商品</label>
										</a>
									</li>
									{foreach $category as $vo}
									<li class="ect-select w-3 rsise-nav">
									<a href="{url('index',array('c_id'=> $vo.id,'type'=> $vo.type))}">
										<label class="ts-1 {if $id == $vo.id}active{/if}">{$vo.name}</label>
									</a>
									</li>
									{/foreach}
								</div>
								<div class="ect-button-more raise-button dis-box">
									<i class="iconfont icon-Collapse j-text-all"></i>
								</div>
							</div>
						</ul>
					</div>
				</section>
				</div>

				<section class="product-list j-product-list product-list-medium" data="1">
				<script id="j-product" type="text/html">
					<%if totalPage > 0 %>
					<ul>
						<%each list as goods%>
						<li>
							<div class="product-div position-rel">
								<a class="product-div-link" href="<%goods.url%>"></a>
								<img class="product-list-img" src="<%goods.title_img%>" />
								<div class="product-text raise-category">
									<h4><%goods.title%></h4>
									<p class="col-9 f-03 raise-category-num">支持人数<em class="color-red"><%goods.join_num%></em><em class="col-9 f-02">人</em><em class="fr col-9"><i class="iconfont icon-shijian f-02"></i> 剩余时间：<%goods.shenyu_time%>天</em></p>
									<div class="raise-progressBar dis-box">
										<p class="wrap box-flex">
											<span class="bar" style="width:<%goods.baifen_bi%>%;"><i class="color"></i></span>
										</p>
										<p class="txt"><%goods.baifen_bi%> %</p>
									</div>
									<ul class="index-n-box of-hidden">
										<li class="col-9 f-03 onelist-hidden">已筹：<em class="color-red mr-small"><%#goods.join_money%> </em></li>
										<li class="col-9 f-03 onelist-hidden"><em class="col-9 m-l-05">目标：<em class="color-red"><%#goods.amount%></em></em></li>
									</ul>
								</div>
								<div class="raise-cate-tag"><i class="iconfont icon-geren"></i><%goods.join_num%></div>
							</div>
						</li>
						<%/each%>
					</ul>
					 <% else %>
                    <div class="no-div-message">
                        <i class="iconfont icon-biaoqingleiben"></i>
                        <p>亲，此处没有内容～！</p>
                    </div>
                    <% /if %>
				</script>
				</section>
			</div>

		</div>

		<!--商品属性弹出层end-->
		<div class="div-messages"></div>
		<div class="raise-bg-box ts-3 active"></div>
		<!--悬浮菜单e-->



	<footer class="footer-nav dis-box">
		<a href="{url('/')}" class="box-flex nav-list">
			<i class="nav-box i-home"></i><span>首页</span>
		</a>
		<a href="{url('crowd_funding/index/index')}" class="box-flex nav-list active">
			<i class="nav-box i-zhongchou"></i><span>微筹广场</span>
		</a>
		<a href="{url('user/crowd/order')}" class="box-flex position-rel nav-list">
			<i class="nav-box i-zhongchou-order"></i><span>微筹订单</span>
		</a>

		<a href="{url('user/crowd/index')}" class="box-flex nav-list">
			<i class="nav-box i-zhongchou_user"></i><span>微筹中心</span>
		</a>
	</footer>
	<!--悬浮菜单e-->
		<script type="text/javascript">
		$(function($) {
				//nav
				window.onload = function() {
					var $li = $('.raise-cate-nav li');
					var $ul = $('.raise-content ul');

					$li.click(function() {
						var $this = $(this);
						var $t = $this.index();
						$li.removeClass();
						$this.addClass('current');
						$ul.css('display', 'none');
						$ul.eq($t).css('display', 'block');
					})
				}
				$(".j-text-all,.raise-bg-box").click(function() {
					$(".raise-content").addClass("active");
					$(".raise-bg-box").addClass("active");
					$(".category-header-box").addClass("active");
				});
				$(".raise-cate-nav li").click(function() {
					$(".raise-content").removeClass("active");
					$(".raise-bg-box").removeClass("active");
					$(".category-header-box").removeClass("active");
				});
			});
			//异步数据
            $(function(){
                var url = "{url('index', array('c_id'=>$id, 'type'=>$type, 'keywords'=>$keywords))}";
                $('.product-list').infinite({url: url, template:'j-product'});
            })
            header_img()
		    window.onresize = function(){
		        header_img()
		    }
		</script>
	</body>

</html>