{include file="page_header"}
    <div class="con m-p7">
    <header class="dis-box header-menu n-header-menu new-goods-nav ts-5">
			<div class="box-flex n-goods-shop-list-nav">
				<ul class="swiper-wrapper dis-box  text-c">
					<li class="box-flex"><a href="{url('crowd_funding/index/info',array('id'=> $id))}"><label>商品</label></a></li>
					<li class="box-flex"><a  href="{url('crowd_funding/index/properties',array('id'=> $id))}"><label>详情</label></a></li>
					<li class="box-flex" style="border-bottom:1px solid #ec5151"><a class="hover" href="{url('crowd_funding/index/comment',array('id'=> $id))}"><label style="color:#ec5151">话题</label></a></li>
				</ul>
			</div>
		</header>


    <div class="goods-evaluation-page of-hidden ect-tab j-ect-tab" style="padding-top:4.2rem">
            <div class="swiper-wrapper divrank">
                <section class="swiper-slide of-hidden sectrank">
                    <div class="comment-info rank" >
                    <script id="j-product" type="text/html">
                    <%if totalPage > 0 %>
                    <%each list as comment%>
                    <div class="evaluation-list padding-all b-color-f">
                        <header class="of-hidden dis-box comment-n-box">
                             <div class="comment-n-cont-left">
								<%if comment.user_picture  %>
								<div class="raise-admin-img"><img src="<%comment.user_picture%>"></div>
								<%else%>
								<div class="raise-admin-img"><img src="{elixir('img/no_image.jpg')}"></div>
								<%/if %>

                               <!--  <span class="grade-star g-star-<%comment.rank%> fl"></span> -->
                            </div>
                             <div class="box-flex t-remark">
                             	<h4 class="f-06 col-4 m-top06">
                             		 <%if comment.username%>
                                    <%comment.username%>
                                    <%else%>
                                    <%lang.anonymous%>
                                    <%/if%>
                             	</h4>
                            	<time class="f-03 col-9"><%comment.add_time%></time>
                            </div>
                            <a href="<%comment.url%>"><div class="crowd-comment-icon m-top08"><i class="iconfont icon-pinglun "></i><em class="col-6 f-03">评论</em></div></a>
                        </header>
                        <p class="col-4 m-top02 f-05"><%comment.topic_content%></p>
                            <!--评论回复-->
                            <%if comment.child_topic !='' %>
                            <ul class="crowd-comment-reply b-color-f p-r">
                                <%each comment.child_topic as child%>
                                <li>
                                    <h4 class="f-04 col-3"><%child.user_name%><time class="col-9 f-02"><%child.time_past%></time></h4>
                                    <p class="m-top06 f-03 col-4"><%child.topic_content%></p>
                                </li>
                                <%/each%>
                            </ul>
                            <%/if%>
                    </div>
                    <%/each%>
                    <% else %>
                    <div class="no-div-message">
                        <i class="iconfont icon-biaoqingleiben"></i>
                        <p>亲，此处没有内容～！</p>
                    </div>
                    <% /if %>
                </script>
                </div>
                </section>
            </div>
    </div>
        <a  href="{url('crowd_funding/index/topic',array('id'=>$id,'action'=>'comment'))}" class="crowd-comment-reply-fixed">
        <i class="iconfont icon-bianji"></i>
        </a>
    </div>
<input type="hidden" name="goods" value="{$id}">
<script>
  //异步数据
	$(function(){
		var url = "{url('comment', array('goods'=>$id, 'page'=>$page))}";
		$('.swiper-slide').infinite({url: url, template:'j-product'});
	})
</script>
</body>
</html>